In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("transactions.csv")
df

,t_date,cust_id,t_amt,services,products_used,city,state,t_details
0,06-26-2015,4007024,40.33,Exercise & Fitness,Cardio Machine Accessories,Clarksville,Tennessee,credit
1,05-26-2015,4006742,198.44,Exercise & Fitness,Weightlifting Gloves,Long Beach,California,credit
2,06-01-2015,4009775,5.58,Exercise & Fitness,Weightlifting Machine Accessories,Anaheim,California,credit
3,06-05-2015,4002199,198.19,Gymnastics,Gymnastics Rings,Milwaukee,Wisconsin,credit
4,12-17-2015,4002613,98.81,Team Sports,Field Hockey,Nashville,Tennessee,credit
...,...,...,...,...,...,...,...,...
49995,09-18-2015,4005664,53.95,Games,Dice Games,Irving,Texas,credit
49996,10-02-2015,4007287,163.81,Games,Poker Chips & Sets,Kansas City,Missouri,credit
49997,05-03-2015,4003954,35.85,Racquet Sports,Squash,New Orleans,Louisiana,cash
49998,10-23-2015,4007843,180.41,Gymnastics,Vaulting Horses,Berkeley,California,credit
49999,12-14-2015,4001406,168.49,Team Sports,Team Handball,Rockford,Illinois,credit

In [4]:
#What is the total sales amount across all transactions?

total_sales = df["t_amt"].sum()
print(total_sales)

5110820.54

In [5]:
df["t_date"] = pd.to_datetime(df["t_date"])

df["month"] = df["t_date"].dt.month
df["quarter"] = df["t_date"].dt.quarter

In [6]:
#Which month had the highest total transaction amount?
month_sales = df.groupby("month")["t_amt"].sum()
print(month_sales.idxmax())

3

In [7]:
#What is the average transaction amount per customer?
avg_customer = df.groupby("cust_id")["t_amt"].mean()
print(avg_customer)

cust_id
4000000    127.444000
4000001    108.945556
4000002     56.165000
4000003    123.670000
4000004    168.135000
              ...
4009995     65.018571
4009996    104.515000
4009997    121.547500
4009998    110.950000
4009999     85.252500
Name: t_amt, Length: 9926, dtype: float64

In [8]:
#What is the trend of total sales over months?

trend = df.groupby("month")["t_amt"].sum()
print(trend)

month
1     438165.76
2     395262.37
3     444664.24
4     420695.24
5     432627.58
6     421074.55
7     439560.80
8     434255.01
9     429321.63
10    424856.28
11    408846.35
12    421490.73
Name: t_amt, dtype: float64

In [9]:
#What is the highest single transaction amount recorded?

print(df["t_amt"].max())

200.0

In [10]:
#What is the highest single transaction amount recorded?

service_sales = df.groupby("services")["t_amt"].sum()
print(service_sales.idxmax()) #idxmax() tells you where the biggest value is

Outdoor Recreation

In [11]:
#Which service category contributes the most to total revenue?

product_sales = df.groupby("products_used")["t_amt"].sum()
print(product_sales.idxmax())

Yoga & Pilates

In [12]:
#Which product generated the highest revenue?

print(df.groupby("services")["t_amt"].mean())

services
Air Sports                103.455104
Combat Sports             101.061761
Dancing                   102.907512
Exercise & Fitness        103.660247
Games                     102.272968
Gymnastics                102.385901
Indoor Games              103.074684
Jumping                   102.155171
Outdoor Play Equipment    101.281196
Outdoor Recreation        100.999480
Puzzles                   100.595997
Racquet Sports            103.647461
Team Sports               102.738998
Water Sports              101.899975
Winter Sports             101.217718
Name: t_amt, dtype: float64

In [13]:
#How does the average transaction amount vary between services?
print(df.groupby("services")["t_amt"].mean())

services
Air Sports                103.455104
Combat Sports             101.061761
Dancing                   102.907512
Exercise & Fitness        103.660247
Games                     102.272968
Gymnastics                102.385901
Indoor Games              103.074684
Jumping                   102.155171
Outdoor Play Equipment    101.281196
Outdoor Recreation        100.999480
Puzzles                   100.595997
Racquet Sports            103.647461
Team Sports               102.738998
Water Sports              101.899975
Winter Sports             101.217718
Name: t_amt, dtype: float64

In [14]:
#How many unique customers made purchases?
print(df["cust_id"].nunique())

9926

In [15]:
#Which customers have spent the most overall?
customer_total = df.groupby("cust_id")["t_amt"].sum()
print(customer_total.sort_values(ascending=False))

cust_id
4009485    1973.30
4006425    1732.09
4000221    1671.47
4003228    1640.63
4006606    1628.94
            ...
4000590       8.46
4002513       6.92
4005196       6.66
4000960       5.70
4007577       5.63
Name: t_amt, Length: 9926, dtype: float64

In [16]:
#What is the average number of transactions per customer?
transactions = df.groupby("cust_id").size()
print(transactions.mean())

5.037275841225066

In [17]:
#Are there customers who made multiple purchases in different categories?
multi = df.groupby("cust_id")["services"].nunique()
print((multi > 1).sum())

9488

In [18]:
#What percentage of customers are repeat buyers?
counts = df["cust_id"].value_counts()
repeat = counts > 1
percent = repeat.mean() * 100
print(percent)

96.5645778762845

In [19]:
#Which product category has the highest total sales?
print(df.groupby("services")["t_amt"].sum().idxmax())

Outdoor Recreation

In [20]:
#Which services are most popular by transaction count?
print(df["services"].value_counts())

services
Outdoor Recreation        8383
Exercise & Fitness        7394
Team Sports               6010
Water Sports              5219
Games                     3666
Gymnastics                3196
Winter Sports             3181
Outdoor Play Equipment    2910
Indoor Games              2799
Jumping                   2015
Combat Sports             1630
Racquet Sports            1611
Air Sports                 960
Puzzles                    612
Dancing                    414
Name: count, dtype: int64

In [21]:
#For each service, which product type is purchased most frequently?
group = df.groupby(["services", "products_used"]).size()
print(group)

services       products_used
Air Sports     Air Suits        191
               Hang Gliding     369
               Parachutes       400
Combat Sports  Boxing           431
               Fencing          394
                               ...
Winter Sports  Luge             413
               Sledding         395
               Snowboarding     374
               Snowmobiling     380
               Snowshoeing      409
Length: 125, dtype: int64

In [22]:
#What is the average transaction amount per product type?
print(df.groupby("products_used")["t_amt"].mean())

products_used
Abdominal Equipment    105.362798
Air Hockey             103.775478
Air Suits              101.421832
Archery                 97.345564
Badminton              108.441138
                          ...
Wetsuits               102.042775
Whitewater Rafting     102.877744
Windsurfing            104.161453
Wrestling               97.895364
Yoga & Pilates         107.668784
Name: t_amt, Length: 125, dtype: float64

In [23]:
#Are there specific services where customers spend significantly more?
print(df.groupby("services")["t_amt"].mean().sort_values(ascending=False))

services
Exercise & Fitness        103.660247
Racquet Sports            103.647461
Air Sports                103.455104
Indoor Games              103.074684
Dancing                   102.907512
Team Sports               102.738998
Gymnastics                102.385901
Games                     102.272968
Jumping                   102.155171
Water Sports              101.899975
Outdoor Play Equipment    101.281196
Winter Sports             101.217718
Combat Sports             101.061761
Outdoor Recreation        100.999480
Puzzles                   100.595997
Name: t_amt, dtype: float64

In [24]:
#Which state has the highest total sales?
state_sales = df.groupby("state")["t_amt"].sum()
print(state_sales.idxmax())

California

In [25]:
#Which city records the highest number of transactions?
print(df["city"].value_counts().idxmax())

Pasadena

In [26]:
#What is the average spending per transaction in each state?
print(df.groupby("state")["t_amt"].mean())

state
Alabama                 102.487049
Arizona                 102.172241
California              102.652182
Colorado                101.537415
Connecticut              99.982108
District of Columbia    103.800334
Florida                 103.136567
Georgia                 102.330675
Hawaii                  101.536667
Idaho                    98.969538
Illinois                100.166315
Indiana                 100.712664
Iowa                    103.100727
Kansas                  101.436926
Kentucky                104.130392
Louisiana               103.466335
Maryland                100.506913
Massachusetts           104.541571
Michigan                101.547777
Minnesota               103.465157
Mississippi             101.214926
Missouri                100.969040
Nebraska                101.955690
Nevada                  105.434718
New Jersey              103.438005
New York                100.259452
North Carolina          103.033172
Ohio                    101.350817
Oklahoma                104.995771
Oregon                  102.438143
Pennsylvania            102.776034
South Carolina          103.540065
Tennessee                99.265804
Texas                   101.379891
Utah                    104.507560
Virginia                104.976206
Washington              101.401603
Wisconsin               101.953159
Name: t_amt, dtype: float64

In [27]:
#Are certain services more popular in specific states?
print(df.groupby(["state", "services"]).size())

state      services
Alabama    Air Sports             21
           Combat Sports          44
           Dancing                 8
           Exercise & Fitness    160
           Games                  80
                                ...
Wisconsin  Puzzles                15
           Racquet Sports         34
           Team Sports           152
           Water Sports          126
           Winter Sports          64
Length: 570, dtype: int64

In [28]:
#Which states buy the most Outdoor Recreation products?
outdoor = df[df["services"] == "Outdoor Recreation"]
print(outdoor.groupby("state")["t_amt"].sum())

state
Alabama                  18197.03
Arizona                  24426.25
California              120605.09
Colorado                 27605.07
Connecticut              14592.22
District of Columbia      7046.35
Florida                  47959.38
Georgia                  15912.77
Hawaii                    7513.52
Idaho                     7885.45
Illinois                 22933.09
Indiana                   9677.66
Iowa                      7765.27
Kansas                   15869.04
Kentucky                 16532.71
Louisiana                 8480.19
Maryland                  8085.69
Massachusetts            26458.03
Michigan                 13883.05
Minnesota                17928.51
Mississippi               8201.95
Missouri                 22301.50
Nebraska                 14962.41
Nevada                   14427.91
New Jersey               22091.40
New York                 14393.36
North Carolina           14530.52
Ohio                     30917.35
Oklahoma                  6483.88
Oregon                   32892.83
Pennsylvania             15271.72
South Carolina           16050.35
Tennessee                31080.93
Texas                    81616.93
Utah                     14178.02
Virginia                 18931.03
Washington               29612.15
Wisconsin                19378.03
Name: t_amt, dtype: float64

In [29]:
#Compare average spending between California and Texas customers.
subset = df[df["state"].isin(["California", "Texas"])]
print(subset.groupby("state")["t_amt"].mean())

state
California    102.652182
Texas         101.379891
Name: t_amt, dtype: float64

In [30]:
#Which quarter of the year saw the highest sales?
quarter_sales = df.groupby("quarter")["t_amt"].sum()
print(quarter_sales.idxmax())

3

In [31]:
#How does total sales vary month by month?
print(df.groupby("month")["t_amt"].sum())

month
1     438165.76
2     395262.37
3     444664.24
4     420695.24
5     432627.58
6     421074.55
7     439560.80
8     434255.01
9     429321.63
10    424856.28
11    408846.35
12    421490.73
Name: t_amt, dtype: float64

In [32]:
#What is the total number of transactions per month?
print(df.groupby("month")["t_amt"].sum())

month
1     438165.76
2     395262.37
3     444664.24
4     420695.24
5     432627.58
6     421074.55
7     439560.80
8     434255.01
9     429321.63
10    424856.28
11    408846.35
12    421490.73
Name: t_amt, dtype: float64

In [33]:
#Is there a particular season when sports equipment sales spike?
print(df.groupby("month").size())

month
1     4268
2     3834
3     4360
4     4175
5     4205
6     4171
7     4252
8     4250
9     4160
10    4181
11    3994
12    4150
dtype: int64

In [34]:
#How many transactions were done using credit?
print(df.groupby("month")["t_amt"].sum().idxmax())

3

In [35]:
#What is the total revenue generated from credit transactions?
print((df["t_details"] == "credit").sum())

43151

In [36]:
#Is there a difference in average spending between credit and debit customers?
credit = df[df["t_details"] == "credit"]
print(credit["t_amt"].sum())

4923134.93

In [37]:

print(df.groupby("t_details")["t_amt"].mean())

t_details
cash       27.403360
credit    114.090865
Name: t_amt, dtype: float64

In [38]:
#Which states or cities should the company focus on for marketing high-value products?
print(df.groupby("state")["t_amt"].sum())
print(df.groupby("city")["t_amt"].sum())

state
Alabama                 116015.34
Arizona                 131291.33
California              702346.23
Colorado                178299.70
Connecticut              91083.70
District of Columbia     49720.36
Florida                 274858.95
Georgia                  89437.01
Hawaii                   42950.01
Idaho                    45031.14
Illinois                134022.53
Indiana                  44615.71
Iowa                     46807.73
Kansas                   92713.35
Kentucky                 90281.05
Louisiana                48836.11
Maryland                 44926.59
Massachusetts           143744.66
Michigan                 98196.70
Minnesota                92497.85
Mississippi              47874.66
Missouri                132471.38
Nebraska                 91556.21
Nevada                   95418.42
New Jersey              136848.48
New York                 98755.56
North Carolina           87372.13
Ohio                    188613.87
Oklahoma                 47668.08
Oregon                  187052.05
Pennsylvania             90442.91
South Carolina           94946.24
Tennessee               177685.79
Texas                   541267.24
Utah                     92071.16
Virginia                144447.26
Washington              181508.87
Wisconsin               117144.18
Name: t_amt, dtype: float64
city
Alexandria          49082.91
Anaheim             45263.19
Atlanta             43645.64
Austin              42415.33
Baltimore           44926.59
                      ...
Tampa               46482.31
Vancouver           47562.33
Washington          49720.36
West Valley City    42732.37
Westminster         41727.78
Name: t_amt, Length: 108, dtype: float64

In [39]:
#Should more inventory be stocked for Exercise & Fitness products given their popularity?
print(df["services"].value_counts())

services
Outdoor Recreation        8383
Exercise & Fitness        7394
Team Sports               6010
Water Sports              5219
Games                     3666
Gymnastics                3196
Winter Sports             3181
Outdoor Play Equipment    2910
Indoor Games              2799
Jumping                   2015
Combat Sports             1630
Racquet Sports            1611
Air Sports                 960
Puzzles                    612
Dancing                    414
Name: count, dtype: int64

In [40]:
#Are there product categories with high sales but low average transaction amounts?
sales = df.groupby("products_used")["t_amt"].sum()
avg = df.groupby("products_used")["t_amt"].mean()
print(sales, avg)

products_used
Abdominal Equipment    43304.11
Air Hockey             40161.11
Air Suits              19371.57
Archery                37088.66
Badminton              44786.19
                         ...
Wetsuits               38980.34
Whitewater Rafting     41048.22
Windsurfing            43018.68
Wrestling              40332.89
Yoga & Pilates         47804.94
Name: t_amt, Length: 125, dtype: float64 products_used
Abdominal Equipment    105.362798
Air Hockey             103.775478
Air Suits              101.421832
Archery                 97.345564
Badminton              108.441138
                          ...
Wetsuits               102.042775
Whitewater Rafting     102.877744
Windsurfing            104.161453
Wrestling               97.895364
Yoga & Pilates         107.668784
Name: t_amt, Length: 125, dtype: float64

In [41]:
#Are there underperforming service categories that need promotional offers?
print(df.groupby("services")["t_amt"].sum().sort_values())

services
Dancing                    42603.71
Puzzles                    61564.75
Air Sports                 99316.90
Combat Sports             164730.67
Racquet Sports            166976.06
Jumping                   205842.67
Indoor Games              288506.04
Outdoor Play Equipment    294728.28
Winter Sports             321973.56
Gymnastics                327225.34
Games                     374932.70
Water Sports              531815.97
Team Sports               617461.38
Exercise & Fitness        766463.87
Outdoor Recreation        846678.64
Name: t_amt, dtype: float64